// media queries for reference

$breakpoint-ns: 480px; // 480px
$breakpoint-t: 768px; // 768px
$breakpoint-m: 960px; // 960px
$breakpoint-l: 1200px; // 1200px

// media queries

$breakpoint-not-small: 'screen and (min-width: 480px)' !default;
$breakpoint-tablet: 'screen and (min-width: 768px)' !default;
$breakpoint-medium: 'screen and (min-width: 960px)' !default;
$breakpoint-large: 'screen and (min-width: 1200px)' !default;


// media query example

// @media #{$breakpoint-not-small} {
//   top: 0;
// }
