$html-font-size:                 16px !default;
$body-font-size:                 18px !default;
$headings-color:                 $brand-primary !default;
$text-color:                     $brand-black !default;
$link-color:                     $brand-primary !default;
$link-decoration:                underline !default;
$link-hover-decoration:          none !default;
