$html-font-size:                 18px !default;
$headings-color:                 $brand-quinary !default;
$text-color:                     $brand-black !default;
$link-color:                     $brand-secondary !default;
$link-decoration:                underline !default;
$link-hover-decoration:          none !default;
