#cookie-notice {
  position: fixed;
  left: 0;
  z-index: 100000;
  height: auto;
  min-width: 100%;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

#cookie-notice .cookie-notice-container {
  display: block;
}

#cookie-notice.cookie-notice-hidden .cookie-notice-container {
  display: none;
}

#cookie-notice .cookie-revoke-container {
  display: block;
}

#cookie-notice.cookie-revoke-hidden .cookie-revoke-container {
  display: none;
}

.cn-position-top {
  top: 0;
}

.cn-position-bottom {
  bottom: 0;
}

.cookie-notice-container,
.cookie-revoke-container {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.cookie-notice-container {
  z-index: 2;
}

.cookie-revoke-container {
  z-index: 1;
}

.cn-close-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin-top: -10px;
  background-color: transparent !important;
  outline: none;
  opacity: .5;
}

.cn-close-icon:hover {
  opacity: 1;
}

.cn-close-icon::before,
.cn-close-icon::after {
  position: absolute;
  height: 15px;
  width: 2px;
  top: 3px;
  background-color: $white;
  content: '';
}

.cn-close-icon::before {
  transform: rotate(45deg);
}

.cn-close-icon::after {
  transform: rotate(-45deg);
}

#cookie-notice .cn-revoke-cookie {
  margin: 0;
}

#cookie-notice .cn-button {
  margin-left: 10px;
}

.cn-text-container,
.cn-buttons-container {
  display: inline-block;
}
