// <header class="w-100 center cf">
//   <div class="cf">
//     <a class="dib dn-m brand brand--header" href="{{ home_url('/') }}" title="{{ get_bloginfo('name', 'display') }}">
//       @svg('brand-mark')
//     </a>
//     <div class="relative fr db dn-m nav-mobile">
//       <a id="nav-toggle" href="#!"><span></span></a>
//     </div>
//   </div>
//   <nav class="nav-primary">
//     @if (has_nav_menu('primary_navigation'))
//       {!! wp_nav_menu(['theme_location' => 'primary_navigation', 'menu_class' => 'dn flex-m flex-row flex-nowrap w-100 pa0 ma0 list primary-navigation']) !!}
//     @endif
//   </nav>
// </header>



// <?php
//
// /***************************************************************
//  * Add class to li items -
//  * https://wordpress.stackexchange.com/questions/245503/add-a-custom-class-to-nav-li-item
// ***************************************************************/

// // add_filter( 'nav_menu_css_class', 'dl_menu_item_classes', 10, 4 );

// // function dl_menu_item_classes( $classes, $item, $args, $depth ) {
// //     // unset($classes);
// //     $classes[] = 'relative flex-auto ma0 pa0 tc';
// //     return $classes;
// // }



.primary-navigation {

  li {

    a,
    a:visited {
      display: block;
      padding: 1rem;
      font-family: $font-family-sans-serif;
      font-size: 1rem;
      font-weight: $font-weight-bold;
      color: $dark-gray;
      text-decoration: none;
      background-color: $brand-primary;

      &:hover,
      &:focus,
      &:active {
        color: $white;
        background-color: $brand-secondary;
        outline: 0 dotted currentColor;
      }

      // dropdown arrow
      &:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
      }
    }

    // Dropdown list binds to JS toggle event
    .sub-menu {
      position: static;
      z-index: 1;
      display: none;
      width: 100%;
      padding: 0;
      margin: 0;

      a {
        line-height: 2;
        color: $white;
        background-color: $brand-secondary;
      }
    }
  }

  .active {
    a {
      color: $white;
      background-color: $brand-secondary;
    }
  }
}

@media #{$breakpoint-medium} {

  .primary-navigation {
    display: flex !important; // required to reset nav on browser resize

    li {
      width: 14.286%;

      a,
      a:visited {
        padding: 0;
        line-height: 72px;
      }

      &:nth-of-type(1) { order: 4; }
      &:nth-of-type(2) { order: 1; }
      &:nth-of-type(3) { order: 2; }
      &:nth-of-type(4) { order: 3; }
      &:nth-of-type(5) { order: 5; }
      &:nth-of-type(6) { order: 6; }
      &:nth-of-type(7) { order: 7; }

      // Dropdown list binds to JS toggle event
      .sub-menu {
        position: absolute;

        li {
          min-width: 200px;

          a {
            line-height: 72px;
          }
        }
      }
    }

    .menu-cheshire-joinery {
      display: flex;
      width: 200.294px;
      min-width: 200.294px;
      max-width: 200.294px;
      transition: width .8s, height .8s;

      .menu-cheshire-joinery__brand {
        // .ir injected via js - add @extend .ir; here.
        // @extend .ir;

        display: block;
        width: 180px;
        height: 60px;
        padding: 0;
        margin: 0 auto;
        // background: url('../images/svg/brand.svg'); // keep styles inside brand.svg for bg images
        background-size: 200.294px 72px;

        // Cant use @extend .ir inside mediaquery so...;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        background-color: transparent;
        border: 0;
      }
    }
  }
}



// // Responsive Dropdown Navigation Bar
// // https://gist.github.com/taniarascia/56893ff29f64038dca91
// // If a link has a dropdown, add sub menu toggle.
// // Responsive Dropdown Navigation Bar
// // https://gist.github.com/taniarascia/56893ff29f64038dca91
// // If a link has a dropdown, add sub menu toggle.
// $('.nav-primary ul li a:not(:only-child)').click(function(e) {
//   $(this).siblings('.sub-menu').toggle();
//   // Close one dropdown when selecting another
//   $('.sub-menu').not($(this).siblings()).hide();
//   e.stopPropagation();
// });
// // Clicking away from dropdown will remove the dropdown class
// $('html').click(function() {
//   $('.sub-menu').hide();
// });
// // Clicking a link closes the menu - page scroll
// // $('nav ul li a').click(function() {
// //   $('nav ul').slideToggle();
// // });
// // Toggle open and close nav styles on click
// $('#nav-toggle').click(function() {
//   $('.nav-primary ul').slideToggle();
// });
// // Hamburger to X toggle
// $('#nav-toggle').on('click', function() {
//   this.classList.toggle('active');
// });

// // Add .brand--nav
// $('ul li.menu-cheshire-joinery').find('a').addClass('menu-cheshire-joinery__brand');
