// <header class="w-100 center cf">
//   <div class="cf">
//     <a class="dib dn-m brand brand--header" href="{{ home_url('/') }}" title="{{ get_bloginfo('name', 'display') }}">
//       @svg('brand-mark')
//     </a>
//     <div class="relative fr db dn-m nav-mobile">
//       <a id="nav-toggle" href="#!"><span></span></a>
//     </div>
//   </div>
//   <nav class="nav-primary">
//     @if (has_nav_menu('primary_navigation'))
//       {!! wp_nav_menu(['theme_location' => 'primary_navigation', 'menu_class' => 'dn flex-m flex-row flex-nowrap w-100 pa0 ma0 list primary-navigation']) !!}
//     @endif
//   </nav>
// </header>



// <?php
//
// /***************************************************************
//  * Add class to li items -
//  * https://wordpress.stackexchange.com/questions/245503/add-a-custom-class-to-nav-li-item
// ***************************************************************/

// add_filter( 'nav_menu_css_class', 'dl_menu_item_classes', 10, 4 );

// function dl_menu_item_classes( $classes, $item, $args, $depth ) {
//     // unset($classes);
//     // $classes[] = 'relative flex flex-auto ma0 pa2-m pb0-m tc';
//     // return $classes;

//     if ( 'primary_navigation' === $args->theme_location ) {
//         $classes[] = 'relative dib ma0 pa2-m pb0-m tc';
//     }
//     elseif ( 'language_navigation' === $args->theme_location ) {
//         $classes[] = 'dib pa1 ma0';
//     }

//     return $classes;
// }




.primary-navigation {

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 1rem;
    font-family: $nav-font-family;
    font-size: $nav-font-size;
    font-weight: $font-weight-bold;
    color: $nav-font-color;
    text-decoration: none;
    background-color: $nav-bg-color;

    &:hover,
    &:focus,
    &:active {
      color: $nav-font-hover-color;
      background-color: $nav-bg-hover-color;
      outline: 0 dotted currentColor;
    }

    // dropdown arrow
    &:not(:only-child):after {
      padding-left: 4px;
      content: ' ▾';
    }
  }

  // Dropdown list binds to JS toggle event
  .sub-menu {
    position: static;
    z-index: 1;
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;

    a {
      line-height: 2;
      color: $nav-dd-font-color;
      background-color: $nav-dd-bg-color;

      &:hover,
      &:focus,
      &:active {
        color: $nav-dd-font-hover-color;
        background-color: $nav-dd-bg-hover-color;
      }
    }
  }

  .active {
    a {
      color: $white;
      background-color: $brand-secondary;
    }
  }
}

@media #{$breakpoint-medium} {

  .primary-navigation {
    display: flex !important; // required to reset nav on browser resize

    a,
    a:visited {
      padding: 0;
      line-height: 1;
    }

    // Dropdown list binds to JS toggle event
    .sub-menu {
      position: absolute;

      li {
        min-width: 200px;
      }
    }
  }
}




// // Responsive Dropdown Navigation Bar
// // https://gist.github.com/taniarascia/56893ff29f64038dca91
// // If a link has a dropdown, add sub menu toggle.
// // Responsive Dropdown Navigation Bar
// // https://gist.github.com/taniarascia/56893ff29f64038dca91
// // If a link has a dropdown, add sub menu toggle.
// $('.nav-primary ul li a:not(:only-child)').click(function(e) {
//   $(this).siblings('.sub-menu').toggle();
//   // Close one dropdown when selecting another
//   $('.sub-menu').not($(this).siblings()).hide();
//   e.stopPropagation();
// });
// // Clicking away from dropdown will remove the dropdown class
// $('html').click(function() {
//   $('.sub-menu').hide();
// });
// // Clicking a link closes the menu - page scroll
// // $('nav ul li a').click(function() {
// //   $('nav ul').slideToggle();
// // });
// // Toggle open and close nav styles on click
// $('#nav-toggle').click(function() {
//   $('.nav-primary ul').slideToggle();
// });
// // Hamburger to X toggle
// $('#nav-toggle').on('click', function() {
//   this.classList.toggle('active');
// });

// // Add .brand--nav
// $('ul li.menu-cheshire-joinery').find('a').addClass('menu-cheshire-joinery__brand');
