@include b(social-menu) {
  font-size: 0;

  @include e(item) {
    &:last-child {margin-right: 0;}

    a {
      width: 2rem;
      height: 2rem;
    }
  }
}


@isoption('top_bar_social_links', 'y')
<ul class="dif flex-nowrap items-center pa0 ma0 social-menu">
  @options('social_links')
    @hassub('social_facebook_url')
      <li class="pa0 ma0 mr2 items-center social-menu__item">
        <a href="@sub('social_facebook_url')" rel="noopener norefferer" target="_blank" class="db">
          @svg('social--facebook', 'db')
        </a>
      </li>
    @endsub
    @hassub('social_twitter_url')
      <li class="pa0 ma0 mr2 items-center social-menu__item">
        <a href="@sub('social_twitter_url')" rel="noopener norefferer" target="_blank" class="db">
          @svg('social--twitter', 'db')
        </a>
      </li>
    @endsub
    @hassub('social_instagram_url')
      <li class="pa0 ma0 mr2 items-center social-menu__item">
        <a href="@sub('social_instagram_url')" rel="noopener norefferer" target="_blank" class="db">
          @svg('social--instagram', 'db')
        </a>
      </li>
    @endsub
    @hassub('social_pinterest_url')
      <li class="pa0 ma0 mr2 items-center social-menu__item">
        <a href="@sub('social_pinterest_url')" rel="noopener norefferer" target="_blank" class="db">
          @svg('social--pinterest', 'db')
        </a>
      </li>
    @endsub
    @hassub('social_linkedin_url')
      <li class="pa0 ma0 mr2 items-center social-menu__item">
        <a href="@sub('social_linkedin_url')" rel="noopener norefferer" target="_blank" class="db">
          @svg('social--linkedin', 'db')
        </a>
      </li>
    @endsub
    @hassub('social_rss_url')
      <li class="pa0 ma0 mr2 items-center social-menu__item">
        <a href="@sub('social_rss_url')" rel="noopener norefferer" target="_blank" class="db">
          @svg('social--rss', 'db')
        </a>
      </li>
    @endsub
  @endoptions
</ul>
@endoption

