@include b(social-menu) {
  font-size: 0;

  @include e(item) {
    &:last-child {margin-right: 0;}

    a {
      width: 2rem;
      height: 2rem;
    }
  }
}


@isoption('has_social_links', 'y')

<ul class="pa0 ma0 mb3 social-menu">

  @hasoption('social_facebook_url')
    <li class="dib pa0 ma0 mr3 v-mid social-menu__item">
      <a href="@option('social_facebook_url')" rel="noopener norefferer" target="_blank" class="db">
        @svg('social--facebook', 'db')
      </a>
    </li>
  @endoption

  @hasoption('social_twitter_url')
    <li class="dib pa0 ma0 mr3 v-mid social-menu__item">
      <a href="@option('social_twitter_url')" rel="noopener norefferer" target="_blank" class="db">
        @svg('social--twitter', 'db')
      </a>
    </li>
  @endoption

  <@hasoption('social_instagram_url')
    <li class="dib pa0 ma0 mr3 v-mid social-menu__item">
      <a href="@option('social_instagram_url')" rel="noopener norefferer" target="_blank" class="db">
        @svg('social--instagram', 'db')
      </a>
    </li>
  @endoption

  @hasoption('social_pinterest_url')
    <li class="dib pa0 ma0 mr3 v-mid social-menu__item">
      <a href="@option('social_pinterest_url')" rel="noopener norefferer" target="_blank" class="db">
        @svg('social--pinterest', 'db')
      </a>
    </li>
  @endoption

  @hasoption('social_linkedin_url')
    <li class="dib pa0 ma0 mr3 v-mid social-menu__item">
      <a href="@option('social_linkedin_url')" rel="noopener norefferer" target="_blank" class="db">
        @svg('social--linkedin', 'db')
      </a>
    </li>
  @endoption

  @hasoption('social_rss_url')
    <li class="dib pa0 ma0 mr3 v-mid social-menu__item">
      <a href="@option('social_rss_url')" rel="noopener norefferer" target="_blank" class="db">
        @svg('social--rss', 'db')
      </a>
    </li>
  @endoption

</ul>

<?php endif; ?>

