
// Converted Variables


// Custom Media Query Variables


/*

   VISIBILITY

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/


/*
    Text that is hidden but accessible
    Ref: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.vis-h { visibility: hidden; }
.vis-v { visibility: visible; }

.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@media #{$breakpoint-not-small} {
  .vis-h-ns { visibility: hidden; }
  .vis-v-ns { visibility: visible; }
  .clip-ns {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media #{$breakpoint-tablet} {
  .vis-h-t { visibility: hidden; }
  .vis-v-t { visibility: visible; }
  .clip-t {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media #{$breakpoint-medium} {
  .vis-h-m { visibility: hidden; }
  .vis-v-m { visibility: visible; }
  .clip-m {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media #{$breakpoint-large} {
  .vis-h-l { visibility: hidden; }
  .vis-v-l { visibility: visible; }
  .clip-l {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

