
// Converted Variables


// Custom Media Query Variables


/*

  Z-INDEX

  Base
    z = z-index

  Modifiers
    -0 = literal value 0
    -1 = literal value 1
    -2 = literal value 2
    -3 = literal value 3
    -4 = literal value 4
    -5 = literal value 5
    -999 = literal value 999
    -9999 = literal value 9999

    -max = largest accepted z-index value as integer

    -inherit = string value inherit
    -initial = string value initial
    -unset = string value unset

  MDN: https://developer.mozilla.org/en/docs/Web/CSS/z-index
  Spec: http://www.w3.org/TR/CSS2/zindex.html
  Articles:
    https://philipwalton.com/articles/what-no-one-told-you-about-z-index/

  Tips on extending:
  There might be a time worth using negative z-index values.
  Or if you are using tachyons with another project, you might need to
  adjust these values to suit your needs.

*/

.z-0 { z-index: 0; }
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }

.z-999 { z-index: 999; }
.z-9999 { z-index: 9999; }

.z-max { z-index: 2147483647; }

.z-inherit { z-index: inherit; }
.z-initial { z-index: initial; }
.z-unset { z-index: unset; }

@media #{$breakpoint-not-small} {
  .z-0-ns { z-index: 0; }
  .z-1-ns { z-index: 1; }
  .z-2-ns { z-index: 2; }
  .z-3-ns { z-index: 3; }
  .z-4-ns { z-index: 4; }
  .z-5-ns { z-index: 5; }

  .z-999-ns { z-index: 999; }
  .z-9999-ns { z-index: 9999; }

  .z-max-ns { z-index: 2147483647; }

  .z-inherit-ns { z-index: inherit; }
  .z-initial-ns { z-index: initial; }
  .z-unset-ns { z-index: unset; }
}

@media #{$breakpoint-tablet} {
  .z-0-t { z-index: 0; }
  .z-1-t { z-index: 1; }
  .z-2-t { z-index: 2; }
  .z-3-t { z-index: 3; }
  .z-4-t { z-index: 4; }
  .z-5-t { z-index: 5; }

  .z-999-t { z-index: 999; }
  .z-9999-t { z-index: 9999; }

  .z-max-t { z-index: 2147483647; }

  .z-inherit-t { z-index: inherit; }
  .z-initial-t { z-index: initial; }
  .z-unset-t { z-index: unset; }
}

@media #{$breakpoint-medium} {
  .z-0-m { z-index: 0; }
  .z-1-m { z-index: 1; }
  .z-2-m { z-index: 2; }
  .z-3-m { z-index: 3; }
  .z-4-m { z-index: 4; }
  .z-5-m { z-index: 5; }

  .z-999-m { z-index: 999; }
  .z-9999-m { z-index: 9999; }

  .z-max-m { z-index: 2147483647; }

  .z-inherit-m { z-index: inherit; }
  .z-initial-m { z-index: initial; }
  .z-unset-m { z-index: unset; }
}

@media #{$breakpoint-large} {
  .z-0-l { z-index: 0; }
  .z-1-l { z-index: 1; }
  .z-2-l { z-index: 2; }
  .z-3-l { z-index: 3; }
  .z-4-l { z-index: 4; }
  .z-5-l { z-index: 5; }

  .z-999-l { z-index: 999; }
  .z-9999-l { z-index: 9999; }

  .z-max-l { z-index: 2147483647; }

  .z-inherit-l { z-index: inherit; }
  .z-initial-l { z-index: initial; }
  .z-unset-l { z-index: unset; }
}
