// section padding

.spt-sm {
  padding-top: calc(#{$section-padding} / 2);
}

.spb-sm  {
  padding-bottom: calc(#{$section-padding} / 2);
}

.spt {
  padding-top: calc(#{$section-padding} / 2);

  @include gridle_state (tb) {
    padding-top: $section-padding;
  }
}

.spb {
  padding-bottom: calc(#{$section-padding} / 2);

  @include gridle_state (tb) {
    padding-bottom: $section-padding;
  }
}

.spt-lg {
  padding-top: $section-padding;

  @include gridle_state (tb) {
    padding-top: calc(#{$section-padding} * 1.25);
  }

  @include gridle_state (md) {
    padding-top: calc(#{$section-padding} * 1.5);
  }

  @include gridle_state (lg) {
    padding-top: calc(#{$section-padding} * 2);
  }
}

.spb-lg {
  padding-bottom: $section-padding;

  @include gridle_state (tb) {
    padding-bottom: calc(#{$section-padding} * 1.25);
  }

  @include gridle_state (md) {
    padding-bottom: calc(#{$section-padding} * 1.5);
  }

  @include gridle_state (lg) {
    padding-top: calc(#{$section-padding} * 2);
  }
}

.spt-xlg {
  padding-top: calc(#{$section-padding} * 2);

  @include gridle_state (tb) {
    padding-top: calc(#{$section-padding} * 2.6);
  }

  @include gridle_state (md) {
    padding-top: calc(#{$section-padding} * 3.2);
  }

  @include gridle_state (lg) {
    padding-top: calc(#{$section-padding} * 3.75);
  }
}

.spb-xlg {
  padding-bottom: calc(#{$section-padding} * 2);

  @include gridle_state (tb) {
    padding-bottom: calc(#{$section-padding} * 2.6);
  }

  @include gridle_state (md) {
    padding-bottom: calc(#{$section-padding} * 3.2);
  }

  @include gridle_state (lg) {
    padding-bottom: calc(#{$section-padding} * 3.75);
  }
}

// section margin

.smt-sm {
  margin-top: calc(#{$section-padding} / 2);
}

.smb-sm  {
  margin-bottom: calc(#{$section-padding} / 2);
}

.smt {
  margin-top: calc(#{$section-padding} / 2);

  @include gridle_state (tb) {
    margin-top: $section-padding;
  }
}

.smb {
  margin-bottom: calc(#{$section-padding} / 2);

  @include gridle_state (tb) {
    margin-bottom: $section-padding;
  }
}

.smt-lg {
  margin-top: $section-padding;

  @include gridle_state (tb) {
    margin-top: calc(#{$section-padding} * 1.25);
  }

  @include gridle_state (md) {
    margin-top: calc(#{$section-padding} * 1.5);
  }

  @include gridle_state (lg) {
    margin-top: calc(#{$section-padding} * 2);
  }
}

.smb-lg {
  margin-bottom: $section-padding;

  @include gridle_state (tb) {
    margin-bottom: calc(#{$section-padding} * 1.25);
  }

  @include gridle_state (md) {
    margin-bottom: calc(#{$section-padding} * 1.5);
  }

  @include gridle_state (lg) {
    margin-top: calc(#{$section-padding} * 2);
  }
}

.smt-xlg {
  margin-top: calc(#{$section-padding} * 2);

  @include gridle_state (tb) {
    margin-top: calc(#{$section-padding} * 2.6);
  }

  @include gridle_state (md) {
    margin-top: calc(#{$section-padding} * 3.2);
  }

  @include gridle_state (lg) {
    margin-top: calc(#{$section-padding} * 3.75);
  }
}

.smb-xlg {
  margin-bottom: calc(#{$section-padding} * 2);

  @include gridle_state (tb) {
    margin-bottom: calc(#{$section-padding} * 2.6);
  }

  @include gridle_state (md) {
    margin-bottom: calc(#{$section-padding} * 3.2);
  }

  @include gridle_state (lg) {
    margin-bottom: calc(#{$section-padding} * 3.75);
  }
}
