// center horizontally and vertically
//
// @extend %placeholder;

// center horizontally and vertically

%center-hv {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-hv {
  @extend %center-hv;
}

// center horizontally

%center-h {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center-h {
  @extend %center-h;
}

// center vertically

%center-v {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-v {
  @extend %center-v;
}

// center horizontally and vertically

%center-hv-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-hv-abs {
  @extend %center-hv-abs;
}

// center horizontally

%center-h-abs {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center-h-abs {
  @extend %center-h-abs;
}

// center vertically

%center-v-abs {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-v-abs {
  @extend %center-h-abs;
}
