// Highlight text

::selection {
  color: $white;
  text-shadow: none;
  background: $brand-primary;
}


// Native scrolling - to do: requires polyfill for safari

html {
  scroll-behavior: smooth;
}

// Native scrolling offset
// https://spigotdesign.com/smooth-scroll-offset-anchor-links-with-css/#smooth-scroll

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

// Responsive images by default

img {
  height: auto;
  max-width: 100%;
}

// fix button spans

button > * {
  pointer-events: none;
}
