// Highlight text

::selection {
  color: $white;
  text-shadow: none;
  background: $brand-primary;
}

// Responsive images by default

img {
  height: auto;
  max-width: 100%;
}

// fix button spans

button > * {
  pointer-events: none;
}
