ul,
ol {
  margin: 0;
  margin-bottom: 1rem;

  li {
    padding-left: .25rem;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: $line-height-copy;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Decorated-list

@include b(decorated-list) {
  list-style: none;

  li {

    &::before {
      display: inline-block; // Needed to add space between the bullet and the text
      width: 1em; // Also needed for space (tweak if needed)
      margin-left: -1em; // Also needed for space (tweak if needed)
      color: $brand-primary;
      content: '\2022';
    }
  }
}
