ul,
ol {
  margin: 0;
  margin-bottom: 1rem;

  li {
    padding-left: .25rem;
    margin-bottom: .5rem;
    line-height: 1.5;
  }
}

// Coloured bullets

ul {
  list-style: none;

  li {

    &::before {
      display: inline-block; // Needed to add space between the bullet and the text
      width: 1em; // Also needed for space (tweak if needed)
      margin-left: -1em; // Also needed for space (tweak if needed)
      color: $brand-primary;
      content: '\2022';
    }
  }
}
