.f-html { font-size: $html-font-size; }
.text-color { color: $text-color; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: $line-height-title;
  color: $headings-color;
}

p {
  margin-top: 0;
  line-height: $line-height-copy;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    text-decoration: $link-hover-decoration;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}
