.sans-serif {
  font-family: $font-family-sans-serif;
}

.serif {
  font-family: $font-family-serif;
}

.text-color {
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
time {
  font-family: $font-family-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;
  color: $headings-font-color;
}

p,
li {
  margin-top: 0;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $brand-primary;
  text-decoration: underline;

  &:hover {
    color: darken($brand-primary, 15%);
    text-decoration: none;
  }
}

strong,
.strong {
  font-weight: $font-weight-bold;
}

small,
.small {
  font-size: $font-size-sm;
}

// column breaks

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}
