// forms

$form-font-family:              $sans-serif !default;
$form-font-size:                $html-font-size !default;
$form-line-height:              $form-font-size * 1.5 !default;
$form-space:                    $form-line-height / 2 !default;

$input-label-font-size:         $html-font-size !default;
$input-label-color:             $text-color !default;
$input-label-font-weight:       400 !default;

$input-bg:                      $white !default;
$input-border:                  $moon-gray !default;
$input-border-focus:            $brand-primary !default;
$input-error:                   $brand-danger !default;
$input-shadow:                  1px 1px 2px #eee inset !default;
$input-transition:              all .3s ease-in-out !default;

$input-font-size:               $html-font-size !default;
$input-color:                   $text-color !default;
$input-font-weight:             400 !default;

$form-required:                 $brand-danger !default;
$form-muted:                    $moon-gray !default;
